nav {
	border: 1px #bbbbbb solid;
	background-color: #FFFFE9;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 5px;

}
pre {
	background-color: #CCFFFF;
}
main {
	border: 1px #bbbbbb solid;
	background-color: #FFFFE9;
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
}
.list-group-item{
	background-color: #FFFFE9;
}
.portrait {
	border-radius: 4%;
}
p {
	text-align: justify;
	display: block;
	clear: left;
}
.row{
	margin-bottom: 10px;
}
* {
	font-family: helvetica, arial, sans-serif;
	color: #ae4b24;
}

html {
	background-color: #00c0de;
	background-image: url("../imgs/bg.png");
}

.socialmedia img {
	height: 1.25em;
	padding-right: 4em;
	margin-bottom: 5px;
}
aside {
	margin-top: 10px;
}
body {
	background-color: transparent;
}
img {
	max-width: 100%;
}