nav {
	background-color: #00c0de;
	margin-bottom: 5px;
}
nav li a {
	color: #F8F8F8;
}
h1 {
	font-family: 'Berkshire Swash', cursive;
	display: inline-block;
	border: 3px solid #f8f8f8;
	border-radius: 8px;
	color: #f8f8f8;
	position: relative;	
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	box-sizing: border-box;
	padding: 4px;
	padding-left: 10px;
}
.name {
	border: 3px solid transparent;
	background-color: #f90;
	border-radius: 11px;
	display: inline-block;
	box-sizing: border-box;
	background-image: url("../imgs/wood.jpg");
}
h2 {
	font-family: 'Berkshire Swash', cursive;
}
nav ul {
	display: inline-block;
}
main {
	background-color: #F8F8F8;
	border-radius: 7px;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 10px;
}
.portrait {
	border-radius: 4%;
}
p {
	text-align: justify;
	display: block;
	clear: left;
}
* {
	font-family: helvetica, arial, sans-serif;
	color: #555555;
}

html {
	background-color: #00c0de;
	background-image: url("../imgs/bg.png");
}

.socialmedia img {
	min-height: 20px;
	max-height: 20px;
	min-width: 20px;
	max-width: 20px;
	margin-bottom: 5px;
}
#twitter {
	max-height: 24px;
	max-width: 24px;
}
#youtube {
	max-height: 30px;
	max-width: 40px;
}
#soundcloud {
	max-height: 24px;
	max-width: 24px;
}
#linkedin {
	max-width: 26px;
}
body {
	background-color: transparent;
}
