main img {
	height: 80%;
	width: 96%;
	max-width: 100%;
	display: inline-block;
	border: 1px solid #bbbbbb;
}
section {
	float: left;
	border: 1px solid #bbbbbb;
	border-radius: 5%;
	padding: 1%;
	margin: 1%;
	width: 20%;
	height: 25%;
	background: linear-gradient(to bottom right, rgba(255,0,0,0), #00c0de);
	box-shadow: 3px 3px 3px #dddddd;
}
h4{
	font-size: 0.75em;
	margin-top: 0px;
	margin-bottom: 0px;
}
